.figure {
    display: block;
    margin: auto;
    width: 30%;
}

.figure img {
    display: block;
    width: 100%;
    margin-top: 0.5em;  /* 上部に1文字分の余白を追加 */
}

.figure .caption {
    margin-top: 0.5em;
    text-align: center;
    font-size: 0.7em;     /* 设置字体大小为父元素的0.9倍 */
}   