/* 自定义导航栏颜色 */
.bg-custom {
    background-color: #1f4e78; /* 深蓝色 */
}

/* 左侧品牌样式 */
.navbar-brand {
    font-size: 1.4rem; /* 调整品牌字体大小 */
    margin-right: 20px; /* 品牌与导航链接的间距 */
    color: white; /* 字体颜色为白色 */
    line-height: 1; /* 保证垂直居中 */
    display: flex;
    align-items: center;
}

/* 缩小 "4" 的样式 */
.navbar-brand sub {
    font-size: 0.7em; /* 相对于父元素字体缩小 */
    font-weight: normal; /* 取消加粗 */
    position: relative;
    bottom: -0.2em; /* 调整下沉位置，使其靠近底部 */
}

/* 导航链接样式 */
.nav-link {
    font-size: 1rem; /* 默认字体大小 */
    margin-right: 15px; /* 每个导航链接的间距 */
    color: white; /* 设置字体颜色为白色 */
}

/* 鼠标悬停时导航链接变浅 */
.nav-link:hover {
    color: #d1ecf1; /* 浅蓝色 */
}

/* 右侧链接样式 */
.navbar .d-flex .nav-link {
    font-size: 0.9rem; /* 字体稍小 */
    font-weight: 500; /* 字体加粗 */
    margin-left: 15px; /* 左侧间距 */
}

/* 导航栏高度调整 */
.navbar {
    height: 56px; /* 确保高度一致 */
    display: flex;
    align-items: center; /* 垂直居中内容 */
    border-bottom: 1px solid #ccc; /* 可选：添加底部边框 */
}

.card {
    border: 1px solid #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    margin-top: 0rem;
    margin-left: 6rem;
    width: 90%;
}

body.category .container {
    margin-left: 4.8rem; /* 仅对 category 页面生效 */
}

body.category .category-description {
    margin-top: 1rem; /* 调整 Formal Logic 页面中描述与顶部的距离 */
}


/* Formal Logic 页面卡片组专属样式 */
body.category .category-card-group {
    margin-top: 0rem; /* 设置卡片组与顶部的距离 */
}

/* Formal Logic 页面右侧目录样式 */
body.category .category-sidebar {
    position: fixed;
    right: 0;
    top: 3.2rem; /* 与导航栏的高度一致 */
    bottom: 0;
    width: 33%;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 1px solid #ccc; /* 可选，添加左侧边框 */
}

/* 对 chapter 和 book_details 页面生效 */
body.chapter .container,
body.book_details .container {
    margin-left: 5rem;
    width: 78%;
}

