{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <!-- 建站目的 -->
    <section class="mb-5 border-bottom pb-4">
        <h2 class="h5 text-uppercase letter-spacing">为什么建立这个网站</h2>
        <div class="mt-3">
            <p class="mb-4">如果你也曾被下面这些课题所困扰，希望这个网站会给你一些指引。</p>
            <div class="row">
                <div class="col-12 mb-4">
                        <h3 class="h6">・推理的规则</h3>
                        <h3 class="h6 text-muted">・思考的方法</h3>
                        <h3 class="h6 text-muted">・面对不可调和的价值观冲突时，应该如何保持有效的沟通</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 搭建契机 -->
    <section class="mb-5 border-bottom pb-4">
        <h2 class="h5 text-uppercase letter-spacing">为什么把网站建成这个样子</h2>
        <div class="row mt-3">
            <div class="col-md-8">
            <p class="mb-2"><a href="https://www.py4e.com" class="text-decoration-none">PY4E</a> 这个网站中卡片式的布局给了我一些启发。</p>
            <p class="mb-0">我想，任何一个领域的知识，应该都可以用这种卡片的方式呈现出来。于是就有了这个网站。</p>
            </div>
        </div>
    </section>

    <!-- 技术实现 -->
    <section class="mb-5">
        <h2 class="h5 text-uppercase letter-spacing">如何实现</h2>
        <p> PY4E的实现使用了<a href="https://www.tsugi.org/" class="text-decoration-none">Tsugi project</a> 这套方案，我被它简洁的外观所吸引，所以选择沿用它的网站风格。  </p>
    </section>
</div>

<style>
.letter-spacing {
    letter-spacing: 0.1em;
}
.border-3 {
    border-width: 3px!important;
}
</style>
{% endblock %} 