{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <!-- 建站目的 -->
    <div class="mb-5">
        <h2 class="h5 text-uppercase letter-spacing">1. 为什么建立LG4E</h2>
        <div class="row mt-3">
            <div class="col-md-8">
            <p class="mb-4">如果你曾被下面这些问题所困扰，希望它能够给你一些指引：</p>
                    <h3 class="h6">・推理的规则</h3>
                    <h3 class="h6 text-muted">・思考的"手順"</h3>
                    <h3 class="h6 text-muted">・...</h3>
            </div>
        </div>
    </div>

    <!-- 搭建契机 -->
    <div class="mb-5">
        <h2 class="h5 text-uppercase letter-spacing">2. 为什么采用卡片布局</h2>
        <div class="row mt-3">
            <div class="col-md-8">
                <p class="mb-2">
                    LG4E的网站布局源自<a href="https://www.tsugi.org/" class="text-decoration-none"> Tsugi project </a>，类似的网站还有 <a href="https://py4e.com" class="text-decoration-none"> PY4E </a>、<a href="https://cc4e.com" class="text-decoration-none">CC4E </a>等。<br>
                    在学习 Python 的过程中，PY4E 的卡片式设计给了我一些启发——我就想，是不是任何领域的知识都可以通过这种方式，简单而清晰地传达给所有人。LG4E正是基于这种想法所做的一次尝试。<br>
                </p>
            </div>
        </div>
    </div>

    <!-- 技术实现 -->
    <div class="mb-5">
        <h2 class="h5 text-uppercase letter-spacing">3. 如果你也有兴趣</h2>
        <div class="row mt-3">
            <div class="col-md-8">
                <p>
                    LG4E在外观上沿用了 Tsugi project 的风格，但采用了不同的技术路线。<br>
                    你可以在<a href="https://github.com/lg4e/lg4e.git" class="text-decoration-none"> GitHub </a>上获取到 LG4E 的所有代码。这意味着你可以自由复制，发布并按照你的需求进行修改与重组。<br>
                </p>
            </div>
        </div>
    </div>

    <!-- 运营成本 -->
    <div class="mb-5">
        <h2 class="h5 text-uppercase letter-spacing">4. 运营成本</h2>
        <div class="row mt-3">
            <div class="col-md-8">
                <p>
                    ・Namecheap：第一年约7美元, 续费每年约17美元；<br>
                    ・Amazon EC2：第一年免费，后续会移行到OCI免费服务<a href="https://www.oracle.com/jp/cloud/free/" class="text-decoration-none"> Oracle Cloud Free Tier </a>；<br>
                    ・Cloudflare：免费；<br>
                    ・SSL证书：免费（Let's Encrypt）； <br>
                </p>
            </div>
        </div>
    </div>



</div>

<style>
.letter-spacing {
    letter-spacing: 0.1em;
}
.border-3 {
    border-width: 3px!important;
}
</style>
{% endblock %} 