{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ title }}</h1>
    <ul class="mt-3">
        {% for chapter_id, chapter in chapters.items() %}
        <li>
            <a data-bs-toggle="collapse" href="#chapter-{{ chapter_id }}" role="button" aria-expanded="false" aria-controls="chapter-{{ chapter_id }}">
                {{ chapter_id }}. {{ chapter.title if chapter.title else chapter }}
            </a>
            {% if chapter.subchapters %}
            <ul class="collapse mt-2" id="chapter-{{ chapter_id }}">
                {% for sub_id, sub_title in chapter.subchapters.items() %}
                <li>
                    <a href="{{ url_for('chapter', card_slug=card_slug, chapter_id=sub_id) }}">
                        {{ chapter_id }}.{{ sub_id }} {{ sub_title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

