{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="chapter" style="font-weight:700; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
        Set Theory and Logic
    </h1>

    <ul class="list-unstyled mt-4">
        {% for chapter_id, chapter_data in chapters.items() %}
        <li class="mt-2">
            <a href="{{ url_for('chapter', card_slug='set_theory_and_logic', chapter_id=chapter_id) }}" class="text-decoration-none">
                {{ chapter_id }}. {{ chapter_data.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

