{% extends "base.html" %}

{% block content %}
<div class="container" >
    <!-- 页面标题 -->
    <h1 class="text-start" style="font-weight: 700;">Logic for Everybody (LG4E)</h1>
    <p class="mt-4">目前这个网站主要面向于母语为简体中文的读者们。为了让语言不会成为障碍，首先会从翻译一些逻辑学的书开始着手・・・</p>

    <!-- 网格布局 -->
    <div class="row mt-4 g-2">
        {% for card_slug, card_data in cards.items() %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="{{ url_for('card', card_slug=card_slug) }}" style="text-decoration: none; color: inherit;">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">{{ loop.index }}: {{ card_data.title }}</h6>
                        <p class="card-text" style="margin-top: 1rem;">{{ card_data.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

